.form-container {
  max-width: 30rem;
  margin: 0 auto;
  box-shadow: 0.2rem 0.5em 0.9rem grey;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-top: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.invalid-feedback {
  color: tomato;
  margin-top: 0;
}

.is-invalid {
  border: 0.02rem solid tomato;
}

.button {
  margin-top: 0.5rem;
}
